/* client/src/index.css */

html, body {
  margin: 0;
  padding: 0;
}

/* Base theme (blue gradient) */
:root {
  --background-color: #44bceb;
  --gradient-start: rgb(194, 223, 251);
  --gradient-middle: rgb(161, 196, 253);
  --gradient-end: rgb(91, 153, 239);
  --text-color: #333;
  --button-color: #7d65ff;
  --button-hover-color: #6a51f3;
  --error-color: red;
  --card-background: rgb(255, 246, 232);
}

/* Dark Theme */
[data-theme="dark"] {
  --background-color: #1E1E1E;
  --gradient-start: rgba(30, 30, 30, 1);
  --gradient-middle: rgba(50, 50, 50, 1);
  --gradient-end: rgba(70, 70, 70, 1);
  --text-color: #f0f0f0;
  --button-color: #BB86FC;
  --button-hover-color: #985EFF;
  --error-color: #cf6679;
  --card-background: #2C2C2C;
}

/* Red-Orange Theme */
[data-theme="red-orange"] {
  --background-color: #EB8844;
  --gradient-start: rgb(241, 105, 27);
  --gradient-middle: rgba(226, 70, 70, 1);
  --gradient-end: rgb(240, 32, 32);
  --text-color: #333;
  --button-color: #ef832a;
  --button-hover-color: #d67424;
  --error-color: red;
  --card-background: rgb(241, 216, 200);
}

/* blue-purple Theme */
[data-theme="blue-purple"] {
  --background-color: #44bceb;
  --gradient-start: rgb(27, 155, 241);
  --gradient-middle: rgb(86, 70, 226);
  --gradient-end: rgb(108, 32, 240);
  --text-color: #333;
  --button-color: #482aef;
  --button-hover-color: #3f24d5;
  --error-color: red;
  --card-background: rgb(241, 216, 200);
}

/* Purple-Pink Theme */
[data-theme="purple-pink"] {
  --background-color: #9b59b6;
  --gradient-start: #8e44ad;
  --gradient-middle: #af7ac5;
  --gradient-end: #c39bd3;
  --text-color: #fff;
  --button-color: #8e44ad;
  --button-hover-color: #7d3c98;
  --error-color: #e74c3c;
  --card-background: #f5eef8;
}

/* Sunset Theme */
[data-theme="sunset"] {
  --background-color: #ff9a9e;
  --gradient-start: #fad0c4;
  --gradient-middle: #fad0c4;
  --gradient-end: #fad0c4;
  --text-color: #333;
  --button-color: #ff6f61;
  --button-hover-color: #ff5a4d;
  --error-color: red;
  --card-background: #fff1e6;
}
